.photo-metadata {
  padding: var(--spacing-03);

  &:empty {
    display: none;
  }

  & * {
    color: var(--clr-text);
  }

  &__title {
    font-weight: 700;
    font-size: 1.5em;

    &:not(:last-child) {
      margin-bottom: var(--spacing-01);
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: var(--spacing-02);
    }
  }

  &__additional {
    font-size: 0.85em;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-01);

    li {
      display: flex;
      align-items: center;
      gap: calc(0.5 * var(--spacing-01));
    }
  }

  :host-context(.photo-card) & {
    &__description {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
