@if(selectedPhoto(); as selectedPhoto) {
    <article class="photo-detailed-view">
        <div class="photo-detailed-view__image-container">
            <app-photo-image
                [photo]="selectedPhoto"
                class="photo-detailed-view__image">
            </app-photo-image>
            <app-overlay-mat-icon-btn
                class="photo-detailed-view__fullscreen-btn show-on-image-hover"
                (click)="openFullscreen()"
                (keydown)="openFullscreen()">
                fullscreen
            </app-overlay-mat-icon-btn>
            <app-overlay-mat-icon-btn
                class="photo-detailed-view__previous-btn show-on-image-hover"
                (click)="selectPrevious()"
                                (keydown)="selectPrevious()">
                arrow_back
            </app-overlay-mat-icon-btn>
            <app-overlay-mat-icon-btn
                class="photo-detailed-view__next-btn show-on-image-hover"
                (click)="selectNext()"
                (keydown)="selectNext()">
                arrow_forward
            </app-overlay-mat-icon-btn>
        </div>
        <app-photo-metadata
            class="photo-detailed-view__metadata"
            [photoMetadata]="selectedPhoto.metadata"
        >
        </app-photo-metadata>
        <app-photo-selection
            class="photo-detailed-view__selection"
            [gallery]="gallery()"
            [selectNextPhoto$]="selectNext$"
            [selectPreviousPhoto$]="selectPrevious$"
        ></app-photo-selection>
        <button
            class="photo-detailed-view__close-btn"
            type="button"
            (click)="closeDetailedView()"
        >
            <lib-material-icon>close</lib-material-icon>
        </button>
    </article>
    <app-photo-fullscreen
        [(show)]="showFullscreen"
        [photo]="selectedPhoto"
    >
    </app-photo-fullscreen>
} @else {
    <div class="photo-detailed-view__no-photo-placeholder">No photo to available</div>
}
