.header {
  display: flex;
  background-color: var(--clr-primary);
  padding: var(--spacing-02) 1.5em;
  position: sticky;
  top: 0;
  z-index: 2;

  /* For tablets and above */
  @media only screen and (width > 600px) {
    padding: var(--spacing-02) 3.5em;
  }

  &__title {
    flex-grow: 1;
  }

  &__logo {
    img {
      vertical-align: middle;
      height: 3em;

      :host-context([theme="dark"]) & {
        filter: invert(1);
      }
    }
  }

  &__nav {
    flex: 0 1 auto;
    display: flex;
    font-size: 1.2em;
  }
}
