:root {
  --font-family: "Quicksand", serif;

  // Colors
  --clr-white: #ffffff;
  --clr-black: #000000;

  --neutral: light-dark(var(--clr-white), var(--clr-black));

  --clr-primary: light-dark(#eae9e9, #011c12);
  --clr-secondary: #c7823a;
  --clr-text: light-dark(#011c12, #eae9e9);

  // Spacings
  --spacing-01: 8px;
  --spacing-02: 16px;
  --spacing-03: 24px;
  --spacing-04: 32px;
  --spacing-05: 40px;
}
