@use "variables" as var;

.layout {
  &__header {
    /* For tablets and above */
    @media only screen and (width > 600px) {
      display: none;
    }
  }

  &__body {
    > * {
      float: left;
    }
  }
}

.sidebar {
  background-color: var.$clr-grey-01;

  &--hidden {
    display: none;

    /* For tablets and above */
    @media only screen and (width > 600px) {
      display: initial;
    }
  }
}

.main-content {
  &--hidden {
    display: none;
  }

  /* For tablets and above */
  @media only screen and (width > 600px) {
    display: initial;
  }
}
