@use "../variables" as var;

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  @media only screen and (min-width: 600px) {
    flex-direction: row;
    gap: var.$spacing-01;
  }

  span {
    font-size: var.$fs-footer-contact;

    // add an empty space after each span unless it is the last one
    &:not(:last-child)::after {
      content: " ";
    }
  }

  fa-icon {
    font-size: var.$fs-footer-contact-icon;
  }

  &__name {
    font-weight: var.$fw-footer-contact-name;
  }

  &__otherLinks a {
    text-decoration: none;

    // add an empty space after each anchor unless it is the last one
    &:not(:last-child)::after {
      content: " ";
    }
  }

  &__email {
    fa-icon {
      margin-right: 0.5 * var.$spacing-01;
    }
  }
}
