.photo-metadata {
  padding: var(--spacing-03);

  &:empty {
    display: none;
  }

  & * {
    color: var(--clr-text);
  }

  &__title {
    font-weight: 700;
    font-size: 1.5em;

    &:not(:last-child) {
      margin-bottom: var(--spacing-03);
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: var(--spacing-04);
    }
  }

  &__additional {
    font-size: 0.85em;
    display: flex;

    li {
      display: flex;
      align-items: center;
      gap: calc(0.5 * var(--spacing-01));

      &:not(:last-child) {
        margin-right: var(--spacing-02);
      }
    }
  }
}
