.photo-strip {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-01);
  background-color: var(--clr-neutral);

  /* For tablets and above */
  @media only screen and (width > 600px) {
    flex-direction: row;
  }

  &__item {
    display: block;

    /* For tablets and above */
    @media only screen and (width > 600px) {
      flex: 1 1 auto;
    }
  }
}
