@if(!hasInitPhotos()) {
    <mat-spinner class="photo-selection__loading"></mat-spinner>
} @else if (initPhotos().length > 0) {
    <lib-swiper
        class="photo-selection__swiper"
        [items]="initPhotos()"
        [nbSlides]="nbSlides"
        [slideTemplate]="slideTemplate"
        [activateItem$]="activateItem$"
        [swipeToItem$]="swipeToItem$"
        [addItems$]="addItems$">
    </lib-swiper>
} @else {
    <div class="photo-selection__no-photo">No photo available</div>
}

<ng-template #slideTemplate
             let-slide="slide">
    <div class="photo-option"
         [class.photo-option--active]="slide.isActive"
         (click)="selectPhoto(slide.value._id)">
        <app-photo-image [photo]="slide.value"></app-photo-image>
    </div>
</ng-template>