.navigation {
  flex: 1 1 auto;
  display: flex;

  ul {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
  }

  li {
    list-style: none;

    &:hover,
    &:focus {
      border-top: 2px solid var(--clr-secondary);
      border-bottom: 2px solid var(--clr-secondary);
      font-weight: 700;
      font-size: 1.5em;
      line-height: 1.3;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
