.overlay-mat-icon-btn {
  margin: 0.5rem;
  padding: 0.5rem;
  color: var(--clr-text);
  background-color: var(--clr-primary);
  border: none;
  border-radius: 0.5rem;
  opacity: 0.85;

  lib-material-icon {
    --material-icon-fs: 1.2rem;
  }
}
