<section id="about">
    <h2 class="page-title">About</h2>
    <article>
        <div class="text-container">
            <p class="intro">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <p>
                Nunc sed pretium elit. Cras interdum gravida lobortis. Fusce suscipit vestibulum felis, in porttitor lorem vestibulum et.  Sed facilisis tortor libero, a eleifend lorem semper vitae. Suspendisse commodo aliquam porta. Morbi dui dui, eleifend at ante a, cursus pretium ante. Mauris libero risus, semper at nisi in, placerat egestas justo. Cras suscipit risus arcu.
            </p>
            <p>
                Phasellus auctor augue a iaculis facilisis. Pellentesque vestibulum metus in feugiat viverra. Vivamus nisl ex, ullamcorper sed pellentesque a, interdum sed magna. Fusce in ultrices risus.
            </p>
        </div>
        <div class="image-container">
            <img
                src="pierre.jpg"
                alt="pierre's photo"
            >
        </div>
    </article>
</section>
