.photo-card {
  position: relative;
  background-color: var(--clr-primary);
  padding: var(--spacing-01);

  /* For tablets and above */
  @media only screen and (width > 600px) {
    height: 500px;
    background-color: unset;
    padding: unset;

    &__image {
      display: block;
      height: 100%;
    }

    &__metadata {
      background-color: rgba(var(--clr-primary-rgb), 0.6);
      position: absolute;
      bottom: 0;
      width: 100%;
      visibility: hidden;

      .photo-card:hover & {
        visibility: visible;
      }
    }
  }
}
