<footer>
    <address>
        @if(mainContact(); as mainContact) {
            <p class="contact">
                <span class="contact__prefix">Email</span>
                <a href="mailto:{{ mainContact.email }}">
                    {{ mainContact.email }}
                </a>
            </p>
            <p class="social-media">
                @if(mainContact.github; as github) {
                    <a href="{{ github }}"
                        target="_blank">
                        <fa-icon [icon]="githubIcon"></fa-icon>
                    </a>
                }
                @if(mainContact.instagram; as instagram) {
                    <a href="{{ instagram }}"
                        target="_blank">
                        <fa-icon [icon]="instagramIcon"></fa-icon>
                    </a>
                }
            </p>
        }
        @if(designContact(); as designContact) {
            <p class="contact">
                <span class="contact__prefix">Design by</span>
                <a href="{{ designContact.behance}}" target="_blank">
                    Prachi Karkun
                </a>
            </p>
        }
    </address>
</footer>
