@if(viewModel) {
    <img (click)="onImgClick()"
        (keydown)="onImgClick()"
    [src]="viewModel | bufferToImage$ | async"
    [style]="'max-height: 400px; max-width:' + imgWidthInPct +'%'"
    alt="the selected photo">
    <button type="button" (click)="deleteImage()">delete image</button>
} @else if (initImageUrl) {
    <img 
        (click)="onImgClick()"
        (keydown)="onImgClick()"
        [src]="initImageUrl"
        alt="the photo to edit"
        [style]="'max-height: 400px; max-width:' + imgWidthInPct +'%'">
} @else {
    <div>no image</div>
}
<div>
    <label for="imageBuffer">Image
        <input type="file"
            id="imageBuffer"
            name="imageBuffer"
            (change)="onFileSelection($event)"
            (cancel)="onFileSelectionCancel($event)"
            accept="image/jpeg"
            #imageBufferInput
            >
    </label>
    <app-edit-image-buffer-validation [viewModel]="viewModel"
        (isValid)="isValid.emit($event)">
    </app-edit-image-buffer-validation>
    <button type="button" (click)="reset()">reset</button>
</div>