@use "variables" as var;

.collage {
  /* For tablets and above */
  @media only screen and (min-width: 600px) {
    display: flex;
    max-height: 500px;
    gap: var.$spacing-01;

    &:not(:last-child) {
      margin-bottom: var.$spacing-01;
    }

    &__item {
      flex: 1 1 auto;
    }
  }
}
