@use "variables" as var;

.photo-card {
  /* For tablets and above */
  @media only screen and (min-width: 600px) {
    position: relative;
    height: 100%;

    &:hover {
      .photo-card__metadata {
        visibility: visible;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    /* For tablets and above */
    @media only screen and (min-width: 600px) {
      object-fit: cover;
      display: block;
      position: relative;
    }
  }

  &__metadata {
    /* For tablets and above */
    @media only screen and (min-width: 600px) {
      position: absolute;
      bottom: 0;
      width: 100%;
      visibility: hidden;
    }
  }
}

.photo-metadata {
  background-color: var.$clr-photo-metadata-background--light;
  padding: var.$spacing-03;

  & * {
    color: var.$clr-text;
  }

  &__title {
    font-weight: 700;
    font-size: var.$fs-photo-metadata-title;

    &:not(:last-child) {
      margin-bottom: var.$spacing-03;
    }
  }

  &__description {
    font-size: var.$fs-photo-metadata-description;

    &:not(:last-child) {
      margin-bottom: var.$spacing-04;
    }
  }

  &__additional {
    font-size: var.$fs-photo-metadata-additional;
    display: flex;

    li {
      display: flex;
      align-items: center;
      gap: 0.5 * var.$spacing-01;

      &:not(:last-child) {
        margin-right: var.$spacing-02;
      }
    }
  }
}
