// Font families
$font-family: "Quicksand", serif;

// Colors
$clr-white: #ffffff;
$clr-black: #000000;
$clr-primary: #eae9e9;
$clr-secondary: #c7823a;
$clr-text: #011c12;

// Font sizes
$fs-page-title: 64px;
$fs-about-intro: 30px;

$fs-photo-metadata-title: 24px;
$fs-photo-metadata-description: 16px;
$fs-photo-metadata-additional: 14px;

// Font weights
$fw-page-title: 700;
$fw-about-intro: 600;

// Spacings
$spacing-01: 8px;
$spacing-02: 16px;
$spacing-03: 24px;
$spacing-04: 32px;
$spacing-05: 40px;
