@use "reset";
@use "variables" as var;
@use "collage";
@use "photoCard";

* {
  box-sizing: border-box;
}

html {
  font-family: var.$font-family;
}

lib-material-icon {
  display: inline-block;
  span {
    vertical-align: middle;
  }
}
