@use "reset";
@use "variables";
@use "material";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.3;

  /* For tablets and above */
  @media only screen and (min-width: 600px) {
    font-size: 1.15em;
  }
}

lib-material-icon {
  display: inline-block;
  span {
    vertical-align: middle;
  }
}

.page-title {
  color: var(--clr-text);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  padding: var(--spacing-02);
}
