@use "reset";
@use "variables";
@use "material";

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: 16px;
}

lib-material-icon {
  display: inline-block;
  span {
    vertical-align: middle;
  }
}

.page-title {
  color: var(--clr-text);
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding: var(--spacing-04);

  /* For tablets and above */
  @media only screen and (min-width: 600px) {
    font-size: 4em;
  }
}
