@if(contact) {
    <p class="contact">
        <span class="contact__info">
            <span class="contact__name">{{ contact.name }}</span>
            @if(contact.description) {
                <span class="contact__description">({{ contact.description }})</span>
            }
            <span class="contact__otherLinks">
                @if(contact.github; as github) {
                    <a href="https://www.github.com/{{ github }}" target="_blank">
                        <fa-icon [icon]="githubIcon"></fa-icon>
                    </a>
                }
                @if(contact.behance; as behance) {
                    <a href="https://www.behance.net/{{ behance }}" target="_blank">
                        <fa-icon [icon]="behanceIcon"></fa-icon>
                    </a>
                }
                @if(contact.instagram; as instagram) {
                    <a href="https://www.instagram.com/{{ instagram }}" target="_blank">
                        <fa-icon [icon]="instagramIcon"></fa-icon>
                    </a>
                }
            </span>
        </span>
        @if(contact.email; as email) {
            <span class="contact__email">
                <a href="mailto:{{ email }}">
                    <fa-icon [icon]="envelopIcon"></fa-icon>{{ email }}
                </a>
            </span>
        }
    </p>
}
