@if(photo(); as photo) {
    <app-overlay-panel [show]="show()">
        <div class="photo-fullscreen">
            <img class="photo-fullscreen__image"
                 [src]="photo.imageUrl"
                 [alt]="photo.metadata?.titles?.[0] || photo.metadata?.description || photo._id"/>
                <app-overlay-mat-icon-btn class="photo-fullscreen__close-btn"
                    (keydown)="close()"
                    (click)="close()">
                    close
                </app-overlay-mat-icon-btn>
        </div>
    </app-overlay-panel>
}
