@use "material";
@use "normalization";
@use "grid-layout";
@use "layout";
@use "navigation";

* {
  box-sizing: border-box;
}

app-home-page {
  img {
    max-width: 100px;
    max-height: 100px;
  }
}
