@if(tags(); as tags) {
    <nav class="gallery-nav__nav">
        <ul>
            <li id="no-tag-nav-item"
                (click)="selectNavItem()"
                [class.gallery-nav__nav-item--selected]="!selectedNavItem()">
                All
            </li>
        @for(tag of tags; track tag._id) {
            <li [id]="tag._id"
                [class.gallery-nav__nav-item--selected]="selectedNavItem() === tag._id"
                (click)="selectNavItem(tag._id)">{{ tag.name || tag._id }}
            </li>
        }
        </ul>
    </nav>
}