@if(galleries(); as galleries) {
    <div class="gallery-nav__nav-menu-trigger gallery-nav--selected"
        (click)="togglePanel()">
        <button type="button" >{{ menuTriggerPlaceHolder() }}</button>
    </div>
    @if(isMobile()) {
        <app-overlay-panel [show]="expandPanel()"
            class="gallery-nav__panel">
                <ng-content *ngTemplateOutlet="navTemplate; context: { galleries }">
                </ng-content>
                <button type="button"
                    class="gallery-nav__close-btn"
                    (click)="togglePanel()">
                    <lib-material-icon>close</lib-material-icon>
                </button>
        </app-overlay-panel>
    } @else {
        <ng-content *ngTemplateOutlet="navTemplate; context: { galleries }">
        </ng-content>
    }
}

<ng-template #navTemplate
    let-galleries="galleries">
    <nav class="gallery-nav__nav">
                <ul>
                    @for(gallery of galleries; track gallery._id) {
                        <li [id]="gallery._id"
                            class="gallery-nav__nav-item"
                            [class.gallery-nav--selected]="selectedGallery()?._id === gallery._id"
                            (click)="selectNavItem(gallery._id)">
                            <button type="button">{{ gallery.name || gallery._id }}</button>
                        </li>
                    }
                </ul>
            </nav>
</ng-template>