.header {
  display: flex;
  padding: var(--spacing-03);
  background-color: var(--clr-primary);
  position: sticky;
  top: 0;
  z-index: 2;

  /* For tablets and above */
  @media only screen and (min-width: 600px) {
    font-size: 1.5em;
  }

  &__logo {
    width: 4.5em;
    flex: 0 0 auto;
  }

  &__title {
    display: flex;
    align-items: center;
    margin: 0 var(--spacing-02);
    flex: 0 0 auto;
  }

  &__nav {
    flex: 1 1 auto;
    display: flex;
  }
}
